@model Sales_Management_Web.Model.DTO.RegistrationRequestDTO

<h1>Register</h1>
<form method ="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="UserName" type="text" placeholder="User Name" />
    <input asp-for="Name" type="text" placeholder="Name" />
    <input asp-for="Password" type="password" placeholder="Password" />
    <button type="submit" value = "Submit">Register</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}