@model Sales_Management_Web.Models.VM.OrderCreateVM

<style>
    .card-registration .select-input.form-control {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }§

    .card-registration .select-arrow {
        top: 13px;
    }

    input.form-control, textarea.form-control-lg {
        border-color: #ce8035;
    }
</style>

<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>

                        <div class="col-xl-6">
                            <form asp-action="Create">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase text-brand"><i class="bi bi-node-plus-fill"></i> Create</h3>

                                    <div class="row">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input autofocus asp-for="Order.Reference" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                                <span asp-validation-for="Order.Reference" class="text-danger"></span>
                                                <label asp-for="Order.Reference" class="form-label" for="form3Example1m">Reference</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input asp-for="Order.Duration" type="text" id="form3Example1n" class="form-control form-control-lg" />
                                                <span asp-validation-for="Order.Duration" class="text-danger"></span>
                                                <label asp-for="Order.Duration" class="form-label" for="form3Example1n">Duration</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label asp-for="Order.ClientId" class="form-label">Client</label>
                                        <select asp-for="Order.ClientId" class="form-select" asp-items="@Model.CompanyList">
                                            <option disabled selected>--Select a Client</option>
                                        </select>
                                        <span asp-validation-for="Order.ClientId" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                      <label asp-for="Order.EmployeeId" class="form-label">Employee</label>
                                      <select asp-for="Order.EmployeeId" class="form-select" asp-items="@Model.EmployeeList">
                                          <option disabled selected>--Select a Employee</option>
                                      </select>
                                      <span asp-validation-for="Order.EmployeeId" class="text-danger"></span>
                                  </div>
                                  <div class="form-outline mb-4">
                                    <label asp-for="Order.ServiceId" class="form-label">Service</label>
                                    <select asp-for="Order.ServiceId" class="form-select" asp-items="@Model.ServiceList">
                                        <option disabled selected>--Select a Service</option>
                                    </select>
                                    <span asp-validation-for="Order.ServiceId" class="text-danger"></span>
                                </div>
                                <div class="row">
                                  <div asp-validation-summary="All" class="text-danger"></div>
                                  <div class="col-md-6 mb-4">
                                      <div class="form-outline">
                                          <input asp-for="Order.StartDate" type="date" id="form3Example1m" class="form-control form-control-lg" />
                                          <span asp-validation-for="Order.StartDate" class="text-danger"></span>
                                          <label asp-for="Order.StartDate" class="form-label" for="form3Example1m">Start Date</label>
                                      </div>
                                  </div>
                                  <div class="col-md-6 mb-4">
                                      <div class="form-outline">
                                          <input asp-for="Order.EndDate" type="date" id="form3Example1n" class="form-control form-control-lg" />
                                          <span asp-validation-for="Order.EndDate" class="text-danger"></span>
                                          <label asp-for="Order.EndDate" class="form-label" for="form3Example1n">End Date</label>
                                      </div>
                                  </div>
                              </div>
                                    <div class="form-outline mb-4">
                                      <input asp-for="Order.Price" type="text" id="form3Example1n" class="form-control form-control-lg" />
                                      <span asp-validation-for="Order.Price" class="text-danger"></span>
                                      <label asp-for="Order.Price" class="form-label" for="form3Example1n">Price</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                      <textarea asp-for="Order.Remark" type="text" id="form3Example8" class="form-control form-control-lg"></textarea>
                                      <span asp-validation-for="Order.Remark" class="text-danger"></span>
                                      <label asp-for="Order.Remark" class="form-label" for="form3Example8">Remark</label>
                                  </div>

                                    <div class="row">
                                    </div>
                                    <div class="d-flex justify-content-end pt-3">
                                        <a asp-action="Index" class="btn btn-secondary form-control btn-lg"><i class="bi bi-arrow-return-left"></i> Back to list</a>
                                        <button type="submit" class="btn btn-primary btn-lg ms-2 form-control"><i class="bi bi-bookmark-plus-fill"></i> Create</button>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}