@model Sales_Management_Web.Models.VM.EmployeeDeleteVM

<style>
    .card-registration .select-input.form-control {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}   

input.form-control,textarea.form-control-lg {
    border-color: #ce8035;
   }
</style>

<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
           
            <div class="col-xl-6">
                 <form asp-action="Delete">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase text-brand"><i class="bi bi-pencil-square"></i> Delete</h3>
                <input hidden asp-for="Employee.Id" />
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input disabled asp-for="Employee.Name" type="text" id="form3Example1m" class="form-control form-control-lg" />
                      <label asp-for="Employee.Name" class="form-label" for="form3Example1m">Name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input disabled asp-for="Employee.HiredDate" type="date" id="form3Example1n" class="form-control form-control-lg" />
                      <label asp-for="Employee.HiredDate" class="form-label" for="form3Example1n">Hired Date</label>
                    </div>
                  </div>
                </div>
                  <div class="form-outline mb-4">
                       <label asp-for="Employee.DepartmentId" class="form-label">Department</label>
                       <select disabled asp-for="Employee.DepartmentId" class="form-select" asp-items="@Model.DepartmentList">
                        <option disabled selected>--Select Department</option>
                    </select>
                </div>
                <div class="row">
                  <div asp-validation-summary="All" class = "text-danger"></div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input disabled asp-for="Employee.Email" type="text" id="form3Example1m" class="form-control form-control-lg" />
                    <label asp-for="Employee.Email" class="form-label" for="form3Example1m">Email</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input disabled asp-for="Employee.Phone" type="text" id="form3Example1n" class="form-control form-control-lg" />
                    <label asp-for="Employee.Phone" class="form-label" for="form3Example1n">Phone</label>
                  </div>
                </div>
              </div>
                <div class="form-outline mb-4">
                  <textarea disabled asp-for="Employee.Remark" type="text" id="form3Example8" class="form-control form-control-lg"></textarea>
                  <label asp-for="Employee.Remark" class="form-label" for="form3Example8">Remark</label>
                    </div>


                <div class="row">
                  
                 
                </div>
                <div class="d-flex justify-content-end pt-3">
                     <a asp-action="Index" class="btn btn-secondary form-control btn-lg"><i class="bi bi-arrow-return-left"></i> Back to list</a>
                  <button type="submit" class="btn btn-danger btn-lg ms-2 form-control"><i class="bi bi-folder-x"></i> Delete</button>
                   
                </div>

              </div>
                </form>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}