@using Sales_Management_Utility
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sales Management Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="//cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Sales_Management_Web.styles.css" asp-append-version="true" />

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <partial name="_Notification" />
    <header>
          <!-- TOP NAV -->
   <div class="top-nav" id="home">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                <p> <i class='bx bxs-envelope'></i> xavyurbina88@gmail.com</p>
                <p> <i class='bx bxs-phone-call'></i> 123 456-7890</p>
            </div>
            <div class="col-auto social-icons">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-pinterest'></i></a>
            </div>
        </div>
    </div>
</div>

<!-- BOTTOM NAV -->
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Sales Manager<span class="dot">.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
         
            </ul>
            @if(httpAcc.HttpContext.Session.GetString(SD.SessionToken)!= null &&
            httpAcc.HttpContext.Session.GetString(SD.SessionToken).ToString().Length>0)
            {
                <ul class="navbar-nav ms-auto">
                 <li class="nav-item">
                    <a class="nav-link" asp-controller="Department" asp-action="Index">Departments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Service" asp-action="Index">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Employee" asp-action="Index">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Client" asp-action="Index">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Order" asp-action="Index">Order</a>
                </li>
            <a asp-controller="Auth" asp-action="Logout" class="btn btn-brand ms-lg-3"><i class="bi bi-box-arrow-left"></i> Logout</a>
             </ul>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login" class="btn btn-brand ms-lg-3"><i class="bi bi-door-open"></i> Login</a>
                <a asp-controller="Auth" asp-action="Register" class="btn btn-brand ms-lg-3"><i class="bi bi-person-plus-fill"></i> Register</a>
            }
        </div>
    </div>
</nav>

    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

      <footer style="z-index: 99999;margin-top: 10em;">
        <div class="footer-top pb-lg-5 text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h4 class="navbar-brand">Sales Manager<span class="dot">.</span></h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from</p>
                        <div class="col-auto social-icons">
                            <a href="#"><i class='bx bxl-facebook'></i></a>
                            <a href="#"><i class='bx bxl-twitter'></i></a>
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                            <a href="#"><i class='bx bxl-pinterest'></i></a>
                        </div>
                        <div class="col-auto conditions-section">
                            <a href="#">privacy</a>
                            <a href="#">terms</a>
                            <a href="#">disclaimer</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <p class="mb-0">Copyright Xavy 2022. All rights Reserved</p> Distributed By <a
                hrefs="#">Sale Management System</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

     <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/app.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
